.project{
    border-top: 1px solid var(--accent);
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.project p{
    font-size: 2vw;
    margin: 0px;
    font-weight: bold;
}
.project p:nth-of-type(1){
    margin-right: 0.75vw;
}
.project p:nth-of-type(2){
    margin-left: 0.75vw;
}
.project:last-of-type{
    border-bottom: 1px solid var(--accent);
}
.project .imgContainer{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}
.project img{
    width: 2vw;
}


@media screen and (max-width: 768px){
    .project{
       
        gap: 1vw;
        padding: 1.5vw;
    }
    .project p{
        font-size: 4vw;
    }
    .project p:nth-of-type(1){
        margin-right: 0px;
    }
    .project p:nth-of-type(2){
        margin-left: 0px;
    }
    .project .imgContainer{
        width: 100%;
        margin-top: 1vw;
    }
    .project img{
        width: 10vw;
    }
    
}