.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
  }
  
  .text {
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 100%;
    margin: 0;
    width: 100%;
     color: var(--accent);
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    border-bottom: 1px solid #2F2B28;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2026d7;
    color: #ede7e7;
    
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .a {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 768px) {
    .container {
      gap: 20px;
    }
  
    .text {
      font-size: 3.5vw;
    }
    
  }